POSTGRES_USER=transcendence
POSTGRES_PASSWORD=password
POSTGRES_DB=transcendence
DATABASE_URL=postgresql://transcendence:password@database:5432/transcendence
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://localhost:4443
INITIAL_ADMIN_EMAIL=admin@example.com
INITIAL_ADMIN_PASSWORD=
BASE_URL=https://localhost:4443
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=
GF_DISCORD_WEBHOOK_URL=
ELASTIC_PASSWORD=
KIBANA_PASSWORD=
LOG_LEVEL=info
MODSEC_RULE_ENGINE=
