POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
BASE_URL=http://localhost:8080
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
GF_DISCORD_WEBHOOK_URL=
